<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.3/phpunit.xsd"
         backupGlobals="false"
         backupStaticProperties="false"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".phpunit.cache"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
>
  <coverage>
    <report>
      <clover outputFile="./build/logs/clover.xml"/>
      <html outputDirectory="./build/coverage"/>
      <text outputFile="./build/coverage.txt" showUncoveredFiles="true"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Stripe Laravel Package Test Suite">
      <directory suffix="Test.php">./tests/</directory>
    </testsuite>
  </testsuites>
  <logging>
    <junit outputFile="./build/report.junit.xml"/>
  </logging>
  <source>
    <include>
      <directory suffix=".php">./src/</directory>
    </include>
    <exclude>
      <file>./src/StripeServiceProvider.php</file>
    </exclude>
  </source>
</phpunit>
